body {
  margin: 0;
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  font-family: 'Lato', serif;
  color: #b4b1a5;
}

#root {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 30%;
}

.App {
  width: 100%;
  text-align: center;
}

form {
  position: relative;
  margin: auto;
  padding: 5px;
}

.form-div {
  position: relative;
  width: 100%;
  background-color: white;
}

input {
  border: 1px solid #b4b1a5;
  border-collapse: collapse;
  width: 80%;
  height: 20px;
  margin-top: 20px;
}

.error-p {
  font-size: 10px;
  color: red;
  width: 80%;
  text-align: left;
  margin: auto;
}

button {
  width: 75px;
  height: 25px;
  background-color: #3c8dbc;
  color: white;
  border: none;
  margin: 5px 2px 20px 2px;
}

select {
  display: block;
  width: 80%;
  margin: auto;
  height: 25px;
  margin: 15px;
}

#info-div {
  background-color: white;
  text-align: left;
  padding-left: 10px;
}

ul {
  list-style: none;
  margin-left: -30px;
}

ul h5 {
  text-align: center;
}